.add-user-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;    
    height: 100vh;
    background: linear-gradient(135deg, #f0f4ff, #fbffd9);
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 100px;
}

.add-user-form-body-container {
    margin-top: 20px;
    background-color: #fff;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    padding: 40px 30px;
    max-width: 600px;
    width: 100%;
    max-width: 600px !important;
    animation: fadeIn 0.2s ease-in-out;
}

.success-message {
    color: #28a745;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
}

.error-message {
    color: #dc3545;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
}
.text-info-image-input,
.image-add-input{
    width: 500px;
}

.eye-icon{
    margin-left: -30px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1.25rem;
    background-color: white;
}

.user-form-submit-button {
    background-color: #fbe64e;
    width: 145px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.user-form-submit-button:hover {
    background-color: #f7db2c;
    transform: scale(1.03);
}

.user-form-back-button {
    background-color: white;
    width: 145px;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.user-form-back-button:hover {
    background-color: #ddd;
    transform: scale(1.03);
}

/* Responsive tweaks */
@media (max-width: 768px) {
    .add-user-form-body-container {
        width: 95% !important;
    }

    .user-form-submit-button,
    .user-form-back-button {
        font-size: 13.5px !important;
    }
}

@media (max-width: 480px) {
    .add-user-header-div h1 {
        font-size: 1.9rem;
    }
}

@media (max-width: 380px) {

    .user-form-submit-button,
    .user-form-back-button {
        font-size: 13px !important;
        padding: 8px 12px;
    }

    .add-user-header-div h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .text-info-image-input,
    .image-add-input{
        width: 80vw;
    }
}

@media (max-width: 440px) {
    .text-info-image-input,
    .image-add-input {
        width: 70vw;
    }
}