.admin-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.user-back-button {
    width: 200px;
    background-color: #fbe64e;
    padding: 10px 20px;
    font-size: 14px;
    border: 0 solid white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
    margin-top: 10px;
}

.user-back-button:hover{
    background-color: #f7db2c;
    transform: scale(1.03);
}

.user-add-button {
    width: 200px;
    background-color: #fbe64e;
    padding: 10px 20px;
    font-size: 14px;
    border: 0 solid white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
    margin-top: 10px;
}

.user-add-button:hover {
    background-color: #f7db2c;
    transform: scale(1.03);
}

.admin-title {
    margin: 10px 20px;
}
.admin-body {
    flex: 1;
    margin-top: 90px;
    padding: 20px;
    width: 80vw;
}

.admin-user-lists {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 10px;
}

.custom-table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-table-responsive table {
    width: 100%;
    table-layout: auto;
}

.user-admin-img {
    width: 50px;
    height: 70px;
    object-fit: cover;
}

@media (max-width: 1240px) {
    .admin-body{
        width: 100vw;
    }
   
}

@media (max-width: 1024px) {
    .user-add-button,
    .user-back-button {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {

    .custom-table-responsive table th,
        .custom-table-responsive table td {
            padding: 8px;
            width: calc(100% / 13);
            white-space: nowrap;
            text-align: center;
        }

        .user-add-button,
        .user-back-button {
            font-size: 13px;
        }

        .admin-title {
            font-size: 30px;
        }
}

@media (max-width: 768px) {

    .custom-table-responsive table thead tr th,
    .custom-table-responsive table tr td,
    .custom-table-responsive table tr td form button {
        font-size: 14px;
    }

    
    .a-tag-user-back-button,
    .user-back-button{
        display: none;
    }

    .user-add-button {
        margin-left: 10px;
    }

    .admin-title {
        font-size: 28px;
        margin-left: 0px;
        margin-right: 0px;
    }
}


@media (max-width: 550px) {
    .user-add-button {
        font-size: 11px;
        margin-left: 0px;
    }

    .admin-title {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .user-add-button {
        font-size: 11px;
        width: 170px;
    }

    .admin-title {
        font-size: 23px;
    }
} 

@media (max-width: 430px) {
    .admin-title {
        font-size: 21px;
        margin-bottom: 0px;
    }

    .user-add-button {
        font-size: 10.5px;
        width: 160px;
        padding: 10px;
        }
}

@media (max-width: 410px) {
    .admin-title {
            font-size: 18px;
            margin-top: 15px;
        }
    
    .user-add-button {
        font-size: 10px;
        width: 150px;
        padding: 10px;
    }
}

@media (max-width: 370px) {

    .admin-title {
            font-size: 16px;
            margin-top: 15px;
        }
    
    .user-add-button {
        font-size: 9px;
        width: 140px;
        padding: 10px;
    }
  
}

@media (max-width: 340px) {
    .admin-title {
            font-size: 15.5px;
            margin-top: 15px;
        }
    
        .user-add-button {
            font-size: 8.5px;
            width: 130px;
            padding: 10px;
        }
}

