.amendment-created-by-container {
    display: flex;
    justify-content: center;
    margin: 4px 0 8px 0;
}

.amendment-created-by {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    background-color: #fdf6e3;
    padding: 6px 18px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.15s ease, box-shadow 0.2s ease;
    margin-top: 5px;
}

.amendment-created-by::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.35),
            rgba(255, 255, 255, 0));
    transform: skewX(-20deg);
    transition: 0.6s;
}

.amendment-created-by:hover {
    transform: scale(1.03);
}

.amendment-created-by:hover::after {
    left: 130%;
}

.amendments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.amendments-body-container {
    margin-top: 80px;
}

.topic-subtitle-wrapper {
    max-width: 850px;
    margin: 10px auto;
    padding: 10px 15px;
    background-color: #f1f1f1;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-break: break-word;
}

.topic-subtitle {
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 0;
    text-align: center;
}

@media (max-width: 870px) {
    .topic-subtitle-wrapper {
        max-width: 95%;
        /* almost full width on mobile */
    }

    .topic-subtitle {
        font-size: 1.2rem;
    }
}
