.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100vw;
    background: linear-gradient(135deg, #f0f4ff, #fbffd9);
    box-sizing: border-box;
}

.change-password-body {
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    margin: 0;
}

.password-change-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.change-password-input-field {
    border-radius: 12px;
    border: 2px solid #ddd;
    padding: 12px 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
}

.change-password-input-field:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.success-message {
    color: #28a745;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.error-message {
    color: #dc3545;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.button-change-password-submit{
    background-color: #fbe64e;
    border: none;
    border-radius: 10px;
    padding: 8px 18px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
}

.button-change-password-submit:hover{
    background-color: #f7db2c;
    transform: scale(1.03);
}

.button-change-password-back{
    background-color: white;
    padding: 8px 18px;
    font-size: 14px;
    border: 1px solid #ddd;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-decoration: none;
}

.button-change-password-back:hover {
    background-color: #ddd;
    transform: scale(1.03);
}

@media (max-width: 500px) {
    .change-password-body {
        width: 95vw;
    }
}



