.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100vw;
    background: linear-gradient(135deg, #f0f4ff, #fbffd9);
    box-sizing: border-box;
}

.change-password-body {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    margin: 0;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.password-change-title{
    font-size: 2rem;
}

.password-change-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.change-password-input-field {
    border-radius: 12px;
    border: 2px solid #ddd;
    padding: 12px 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
    caret-color: black;
}

.eye-icon {
    margin-left: -40px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1.25rem;
    background-color: white;
    width: 25px;
}

.change-password-input-field:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.success-message {
    color: #28a745;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: bold;
}

.error-message {
    color: #dc3545;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .password-change-title {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 500px) {
    .change-password-body {
        width: 95vw;
    }
}



