/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* Ensure the container takes at least the full height of the screen */
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin-top: 35vh;
}

.introduction-header {
    display: flex;
    justify-content: center;
}

.introduction-header h1 {
    font-size: 2.2rem;
}

.introduction-body {
    display: flex;
    justify-content: center;
}

.introduction-body p {
    font-size: 20px;
}

.footer{
    width: 100vw;
    background-color: #fbe64e;
    padding: 0;
    margin-top: auto;
    display: flex;
    justify-content: start;
}

.footer p {
    font-size: 16px;
    margin-left: 40px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

@media (max-width: 768px) {
    .introduction-header h1 {
        font-size: 1.8rem;
        /* Smaller text size for mobile */
    }

    .introduction-body p {
        font-size: 1.2rem;
        /* Smaller paragraph text size for mobile */
    }

    .introduction {
        width: 90vw;
        height: 25vh;
    }
}





