/* Modal overlay */
.liv-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal container */
.liv-modal-content {
    background: white;
    width: 450px;
    max-width: 90%;
    max-height: 78dvh;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: liv-fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 60px;
}

/* Close button */
.liv-close-btn {
    position: absolute;
    top: 3px;
    right: 15px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #555;
    padding: 0;
}

/* User Table */
.liv-user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 15%;
}

.liv-user-table th,
.liv-user-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

.liv-user-table th {
    background-color: #f2f2f2;
}

/* Online and Offline row colors */
.liv-user-table tr.liv-online {
    background-color: rgba(0, 255, 0, 0.1);
}

.liv-user-table tr.liv-offline {
    background-color: rgba(255, 0, 0, 0.1);
}

/* User avatar */
.liv-user-avatar {
    width: 30px;
    border-radius: 15%;
    object-fit: cover;
}

/* Headings */
.liv-heading {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}

.red-dot {
    width: 12px;
    color: #f87171;
}

.green-dot {
    width: 12px;
    color: #4ade80;
}

.liv-action-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
}

.offline .liv-action-btn {
    background-color: #28a745;
    color: white;
}

.offline .liv-action-btn:hover {
    background-color: #218838;
}

.online .liv-action-btn {
    background-color: #dc3545;
    color: white;
}

.online .liv-action-btn:hover {
    background-color: #c82333;
}

/* Fade-in animation */
@keyframes liv-fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 765px) {
    .liv-modal-content{
        width: 85vw;
        height: 75vh;
    }

    .live-users-table-header{
        font-size: 1.2rem;
    }

    .liv-close-btn {
        top: 0px;
    }

    .liv-user-table th,
    .liv-user-table td {
        font-size: 0.9rem;
        padding: 3px;
    }

    .liv-action-btn {
        padding: 4px 10px;
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    .live-users-table-header {
        font-size: 1rem;
    }
   
    .liv-user-table th,
    .liv-user-table td {
        font-size: 0.8rem;
    }
}