body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.login-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #f0f4ff, #fbffd9);
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 440px;
    box-sizing: border-box;
}

h1 {
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px !important;
    box-sizing: border-box; 
    border-radius: 10px;
}

.login-input-field {
    border-radius: 12px;
    border: 2px solid #ddd;
    padding: 12px 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
    caret-color: black;
}

/* Black shadow on focus */
.login-input-field:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.login-button {
    background-color: #e3d356;
    color: black !important;
    cursor: pointer;
    border-radius: 10px !important;
    border: none;
    font-weight: bold;
}


.login-button:hover {
    background-color: rgb(233, 222, 99);
    transform: scale(1.03);
}

.error-message {
    color: #d9534f;
    margin-bottom: 15px;
}

.login-logo{
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.guest-button{
    background-color: white;
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.guest-button:hover{
    background-color: #ddd;
    transform: scale(1.03);
}

.language-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.language-label {
    font-weight: bold;
}

.language-dropdown {
    position: relative;
    width: 160px;
}

.selected-language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: white;
}

.selected-language:hover {
    transform: scale(1.03);
}

.selected-language span{
    color: black;
}

.selected-language .lang-flag {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.selected-language .arrow {
    margin-left: auto;
}

.language-options {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.language-option {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

.language-option:hover {
    background-color: #f0f0f0;
}

.language-option img.lang-flag {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 3px;
}

.arrow-lang{
    font-size: 16px;
    margin-left: 5px;
    color: black;
}

@media (max-width: 440px) {
    .login-container{
        width: 95%;
    }
}


@media (max-width: 380px) {
    .language-dropdown-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .language-dropdown {
        width: max-content;
    }

    .selected-language {
        justify-content: center;
    }
}