body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.logout-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #f0f4ff, #fbffd9);
}

.logout-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.logout-button{
    width: 200px !important;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

/* Mobile Styles */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .logout-container {
        padding: 15px;
    }
}

@media (max-width: 405px) {
    .logout-container{
        width: 95%;
    }
}
