.municipalities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.municipality-body-container{
    margin-top: 80px;
}

.municipality-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 15px;
}

.id-selector-municipality {
    margin-top: -100px;
    position: absolute;
}

.municipality-image {
    width: 200px;
    height: 250px;
    object-fit: contain;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.1s;
    cursor: pointer;
}

.municipality-image:hover{
    transform: scale(1.03);
}

.municipality-header-title {
    font-size: 4.5rem;
    color: black;
    font-weight: 500;
    margin-bottom: 0px;
}

.municipality-add-button {
    background-color: #fbe64e;
    width: 210px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0px solid white;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
}

.municipality-add-button:hover {
    background-color: #f7db2c;
    transform: scale(1.03);
}

.grid-container {
    display: grid;
    gap: 20px;
    justify-items: center;
    margin-top: 10px;
    width: 100%;
    padding: 0 20px;
    padding-bottom: 40px;
}

.grid-container.size-4up {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (min-width: 670px) {
    .grid-container.size-4up {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1010px) {
    .grid-container.size-4up {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1370px) {
    .grid-container.size-4up {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-container.size-3 {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (min-width: 670px) {
    .grid-container.size-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1010px) {
    .grid-container.size-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-container.size-2 {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (min-width: 670px) {
    .grid-container.size-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-container.size-1 {
    grid-template-columns: 1fr;
}

.municipality-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    border: 2px solid #ddd;
    padding: 5px;
    height: 100%;
}

.your-municipality-item {
    border-color: rgb(174, 159, 159);
}


.municipality-info {
    padding: 0 8px 8px 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.municipality-text h3 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-bottom: 0px;
}

.first-municipality-button {
    margin-right: 10px;
}

.button-see-content {
    background-color: #fbe64e;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 2px solid #fbe64e;
    display: inline-block;
    transition: background-color 0.1s, transform 0.1s;
}

.button-see-content:hover {
    background-color: #f7db2c;
    border: 2px solid #f7db2c;
    transform: scale(1.03);
}

.button-option-content{
    border: 2px solid #ddd;
    background-color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 6px 8px;
    font-weight: 500;
    transition: background-color 0.1s, transform 0.1s;
}

.button-option-content:hover{
    transform: scale(1.03);
}

.municipality-buttons>div {
    flex: 1;
}

.municipality-buttons>div {
    width: 50%;
}

.button-see-content,
.button-option-content {
    width: 100%;
    /* make the button fill the 50% container */
    text-align: center;
    /* centers the text */
}

/* drop down option menu */

.admin-dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.admin-dropdown {
    position: absolute;
    top: 100%;
    right: 8px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    min-width: 120px;
    padding: 0.5rem 0;
}

.admin-dropdown .dropdown-item {
    padding: 6px 12px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    display: block;
    background-color: white;
    font-weight: 500;
}

.admin-dropdown .dropdown-item:hover {
    background-color: #f1f1f1;
}

.admin-dropdown .dropdown-item.delete {
    color: #d9534f;
}

@media (max-width: 768px) {
    .municipality-header-title {
        font-size: 2.5rem;
        margin-bottom: 0px;
    }

    .municipality-add-button {
        font-size: 13px;
    }

    .admin-dropdown {
        right: 6px;
    }
}

@media (max-width: 1009px) {
    .municipality-info  {
        flex: 0 0 0;
    }

    .municipality-text h3{
        height: auto;
        margin-bottom: 8px;
    }
}

@media (max-width: 400px) {
    .municipality-item {
        width: 95vw;
    }
}

@media (max-width: 425px) {   
    .municipality-buttons {
        margin-top: 10px;
    }

    .admin-dropdown {
        right: 6px;
    }
}

@media (max-width: 370px) {

    .first-municipality-button {
        margin-right: 10px;
    }
}

@media (max-width: 350px) {
    .municipality-button-size {
            font-size: 13px !important;
        }
}

@media (max-width: 340px) {

    .municipality-add-button {
        font-size: 12px;
    }
}

