.notfound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    text-align: center;
    background: linear-gradient(135deg, #f0f4ff, #fbffd9);
}

.notfound-content {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}

.notfound-icon {
    color: red;
    margin-left: 10px;
    vertical-align: middle;
}

@media (max-width: 500px) {
    .notfound-content {
        padding: 20px;
        border-radius: 20px;
        width: 95%;
    }
}
