/* PAGE WRAPPER */
.rp-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #f0f4ff, #fbffd9);
}

/* CONTAINER */
.rp-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 440px;
    max-width: 440px;
    box-sizing: border-box;
}

/* TITLE */
.rp-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* LABEL */
.rp-label {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    text-align: left;
    display: block;
    margin-bottom: 8px;
}

/* INPUT FIELD */
.rp-input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 2px solid #ddd;
    transition: all 0.3s ease;
    margin-bottom: 15px;
    caret-color: black;
}

.rp-input:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

/* SUBMIT BUTTON */
.rp-submit {
    background-color: #e3d356;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.1s, transform 0.1s;
}

.rp-submit:hover {
    background-color: rgb(233, 222, 99);
    transform: scale(1.03);
}

/* BACK BUTTON */
.rp-back {
    background-color: white;
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.1s, transform 0.1s;
    margin-top: 10px;
}

.rp-back:hover {
    background-color: #ddd;
    transform: scale(1.03);
}

/* SUCCESS + ERROR MESSAGES */
.rp-success {
    color: #155724;
    background-color: #d4edda;
    padding: 10px 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}

.rp-error {
    color: #d9534f;
    background-color: #f9d6d5;
    padding: 10px 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}

/* Small screens */
@media (max-width: 440px) {
    .rp-box {
        width: 95vw;
    }
}