.top-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.top-modal-content {
    background: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.top-modal-buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.top-confirm-button,
.top-cancel-button {
    padding: 10px 15px;
    width: 120px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    color: black;
    transition: background-color 0.1s, transform 0.1s;
}

.top-confirm-button {
    background-color: #fbe64e;
}

.top-confirm-button:hover {
    background-color: #f7db2c;
    transform: scale(1.03);
}

.top-cancel-button {
    background-color: white;
    padding: 5px 15px;
    border: 2px solid #ddd;
}

.top-cancel-button:hover {
    background-color: #ddd;
    transform: scale(1.03);
}