.topic-presentar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.presenter-header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img-presenter {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.back-button-presenter {
    padding: 5px 15px;
    background-color: #fbe64e;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.1s, transform 0.1s;
}

.back-button-presenter:hover {
    background-color: #f7db2c;
    transform: scale(1.03);
}

.presented-topic-header {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 50px;
    padding: 10px;
}

.presented-topic-body{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 0px;
}

.presented-topic-body-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 15vw;
}

.presented-number{
    font-size: 100px;
    border: 3px solid;
    padding: 40px;
    border-radius: 5%;
}

.presented-text {
    font-size: 40px;
    margin-bottom: 0px;
    color: black;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.yes {
    background-color: #348469 !important;
    border-color: #206b52;
}

.no {
    background-color: #a63b3e !important;
    border-color: #782324;
}

.abstained {
    background-color: #929053 !important;
    border-color: #6b6a3b;
}

.cant-vote {
    background-color: #999999 !important;
    border-color: #6e6e6e;
}

.havent-vote {
    background-color: #7a9ac2 !important;
    border-color: #4e6a8d;
}

.absent{
    border-color: #e4e4e4;
    background-color: white;
}

.finished-topic {
    background-color: #cdcaca;
}

.toggle-label-refresh {
    cursor: pointer;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s ease;
}

.toggle-refresh {
    transition: color 0.3s ease;
}

@media (max-width: 1440px) {
   .presented-number{
    font-size: 90px;
   }

   .presented-text {
       font-size: 35px;
   }
}

@media (max-width: 1220px) {
    .presented-topic-body-div {
        width: 14vw;
    }

    .presented-text {
        font-size: 29px;
    }
}

@media (max-width: 1100px) {
    .presented-topic-body-div {
        width: 14vw;
    }

    .presented-text {
        font-size: 25px;
    }
}

@media (max-width: 1050px) {
    .presented-number {
        font-size: 70px;
    }

    .presented-text {
        font-size: 25px;
    }
}

@media (max-width: 930px) {
    .presented-number {
        font-size: 60px;
    }

    .presented-text {
        font-size: 23px;
    }
}

@media (max-width: 890px) {
    .presented-number {
        font-size: 50px;
    }

    .presented-text {
        font-size: 21.5px;
    }

    .presented-topic-header{
        font-size: 40px;
    }
}


@media (max-width: 828px) {
    .presented-number {
        font-size: 45px;
    }

    .presented-text {
        font-size: 20px;
    }

    .presented-topic-header {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .presented-topic-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        justify-items: center;
    }

    .presented-topic-body-div {
        width: 17vw;
    }

    .presented-number {
        font-size: 40px;
        padding: 20px;
    }

    .presented-text {
        font-size: 18px;
    }

    .presented-topic-header {
        font-size: 27px;
        margin-top: 60px;
    }

    .topic-status-info{
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
   
    .presented-text {
        font-size: 15px;
    }

    .presented-number {
        font-size: 30px;
        padding: 20px;
    }

    .presented-topic-header {
        font-size: 23px;
    }
}

@media (max-width: 500px) {

    .presented-text {
        font-size: 13px;
    }

    .topic-status-info {
        font-size: 1.3rem;
    }
}

@media (max-width: 400px) {

    .presented-topic-body-div {
        width: 22vw;
    }

    .presented-text {
        font-size: 12px;
    }

    .presented-topic-header {
        font-size: 20px;
    }
}


@media (max-width: 350px) {

    .presented-text {
        font-size: 12px;
    }

    .presented-topic-header {
        font-size: 20px;
    }
}







